/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin-inline: auto;
  padding-block-start: 100px;
  color: var(--color-main, #000);

  font-family: var(--font-main), Arial, sans-serif;
  font-weight: var(--font-weight-main, 400);
  background-color: var(--color-bg, #fff);
  background-image: var(--img-bg);
  background-size: cover;
  background-attachment: fixed;
  inline-size: var(--page-width);
  font-variation-settings: "wght" var(--font-weight-main, 400);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 95px;
  border: 2px solid var(--color-main);
  font-family: var(--font-accent, Courier, monospace);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
  background-color: var(--color-bg);
}

.header__logo {
  margin-block-end: 20px;
  padding-block-start: var(--header-logo-start);
  font-size: var(--font-logo);
}

.header__title {
  padding-block-end: var(--header-title-end);
  font-size: var(--font-title);
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  flex-direction: column;
  border: 2px solid var(--color-main);
  background-color: var(--color-bg);
  inline-size: var(--page-width);
}

.card__title {
  border-block-end: 2px solid var(--color-main, #000);
  padding: 4px 24px 4px 10px;
  font-size: 18px;
  line-height: 1.21;
  font-variation-settings: "wght" var(--font-weight-title, 715);
}

.card__image {
  position: relative;
}

.image-source {
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter-grayscale {
  filter: grayscale(0.7);
}
.filter-saturate {
  filter: saturate(5);
}
.filter-hue {
  filter: hue-rotate(26deg);
}
.filter-invert {
  filter: invert(0.8);
}
.filter-sepia {
  filter: sepia(90%);
}
.filter-blur {
  filter: blur(8px);
}
.filter-mix {
  filter: hue-rotate(60deg) contrast(0.5) brightness(1.4);
}

.watermark {
  position: absolute;
  opacity: 0.5;
  font-family: var(--font-accent, Courier, monospace);
  font-size: 14px;
  text-shadow:
    -1px 0px var(--color-bg),
    0 1px var(--color-bg),
    1px 0 var(--color-bg),
    0 -1px var(--color-bg);
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--color-bg)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-bg);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid var(--color-main);
  padding: 20px 25px 25px;
  font-size: 18px;
  line-height: 1.16;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
  padding: 0 25px 20px;
}

.button {
  position: relative;
  border: 2px solid var(--color-main);
  background-color: transparent;
  cursor: pointer;
}

.button__text {
  color: var(--color-blend);
  font-family: var(--font-accent, Courier, monospace);
  font-size: 14px;
  line-height: 0.9;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.button-paint:focus {
  box-shadow: 2px 2px 0 var(--color-main);
  outline: none;
}

.button-paint::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: currentColor;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button-paint:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  box-shadow: 0 0 0 2px var(--color-main);
  outline: none;
}

.like-icon {
  overflow: visible;
  inline-size: 39px;
}

.core,
.main-body {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.save {
  display: flex;
  justify-content: center;
  padding: 50px 0 103px;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
  background-color: var(--color-bg);
}

.popup {
  border: 2px solid var(--color-main);
  padding: 30px;
  color: var(--color-main);
  font-family: var(--font-accent, Courier, monospace);
  text-transform: uppercase;
  background-color: var(--color-bg);
  max-inline-size: 357px;
}

.popup[open] {
  display: flex;
  flex-direction: column;
}

.popup__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup__text {
  flex: 1;
  font-size: 14px;
  line-height: 1.5;
}

.form {
  padding-block-start: 30px;
}

.popup__close-btn {
  padding: 10px 0;
  text-transform: uppercase;
  inline-size: 100%;
  inline-size: clamp(16.3125rem, 15.61rem + 3vw, 18.3125rem);
}

.popup::backdrop {
  opacity: 0.75;
  background-color: rgba(0, 0, 0, 1);
}

.floppy {
  color: var(--color-blend);
  mix-blend-mode: difference;
  inline-size: 21px;
}

.floppy-dlg {
  inline-size: 39px;
}

@media (width <=375px) {
  .watermark {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
  }

  .popup {
    padding: clamp(1.875rem, -2.4886rem + 21.8182vw, 2.625rem);
  }

  .floppy {
    inline-size: 28px;
  }
}
